.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong{
    margin: 5px;
    line-height: 42px;
}

.search-buttons {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button-space {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.underline {
    border-bottom: 3px solid #ffc107;
}

.padding-x {
    padding-left: 0;
    padding-right: 0;
}

.image {
    height: 70vh;
    width: 100%;
}