.flashes h4 {
    line-height: 2;
    background-color: #ffc107;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong{
    margin: 5px;
    line-height: 42px;
}

.button-space {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.underline {
    border-bottom: 3px solid #ffc107;
}

.padding-x {
    padding-left: 0;
    padding-right: 0;
}

.welcome-image {
    height: 70vh;
    width: 100%;
}

.head-font {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.content-font {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}

.card .card-content p  {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

#title-font {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}