{% extends "base.html" %}
{% block content %}

    <!-- page heading -->
    <div class="row">
        <div class="col s12 underline">
            <h3 class="grey-text text-darken-3 center-align head-font">Add Workout</h3>
        </div>
    </div>

    <!-- workout input form -->
    <div class="row card-panel grey lighten-3 content-font">
        <form class="col s12" method="POST" action="{{ url_for('add_workout') }}">
            <!-- exercise -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-running prefix grey-text text-darken-3"></i>
                    <select id="exercise_name" name="exercise_name" class="validate" required>
                        <option value="" disabled selected>Exercise</option>
                        {% for exercises in exercise %}
                        <option value="{{ exercises.exercise_name }}">{{ exercises.exercise_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="exercise_name">Exercise Category</label>
                </div>
            </div>
            <!-- weight -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-dumbbell prefix grey-text text-darken-3"></i>
                    <input id="weight" name="weight" minlength="1" maxlength="15" type="tel" class="validate" required>
                    <label for="weight">Weight</label>
                </div>
            </div>
            <!-- sets -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-ol prefix grey-text text-darken-3"></i>
                    <input id="sets" name="sets" minlength="1" maxlength="15" type="tel" class="validate" required>
                    <label for="sets">Sets</label>
                </div>
            </div>
            <!-- reps -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-sort-numeric-up-alt prefix grey-text text-darken-3"></i>
                    <input id="reps" name="reps" minlength="1" maxlength="15" type="tel" class="validate" required>
                    <label for="reps">Reps</label>
                </div>
            </div>
            <!-- due date -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix grey-text text-darken-3"></i>
                    <input id="due_date" name="due_date" type="text" class="datepicker validate" required>
                    <label for="due_date">Due Date</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large grey darken-3 amber-text content-font">
                        Add Workout <i class="fas fa-plus-square hide-on-small-only right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}