{% extends "base.html" %}
{% block content %}

    <!-- page heading -->
    <div class="row">
        <div class="col s12 underline">
            <h3 class="grey-text text-darken-3 center-align">Edit Exercise</h3>
        </div>
    </div>

    <!-- edit exercise form -->
    <div class="row card-panel grey lighten-3">
        <form class="col s12" method="POST" action="{{ url_for('edit_exercise_db', exercise_id=exercises._id) }}">
            <!-- exercise -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-running prefix grey-text text-darken-3"></i>
                    <input id="exercise_name" name="exercise_name" minlength="1" maxlength="25" type="text"
                        value="{{ exercises.exercise_name }}" class="validate" required>
                    <label for="exercise_name">Exercise</label>
                </div>
            </div>
            <!-- cancel and edit buttons -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('manage_exercises') }}" class="btn-large amber grey-text text-darken-3 text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large grey darken-3 amber-text text-shadow">
                        Edit Exercise <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}