{% extends "base.html" %}
{% block content %}

    <!-- page heading -->
    <div class="row">
        <div class="col s12 underline">
            <h3 class="grey-text text-darken-3 center-align">Manage Exercises</h3>
        </div>
    </div>

    <!-- add new exercise to the db -->
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('update_exercise_db') }}" class="btn-large light-blue darken-2 text-shadow">
                Add Exercise <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <div class="row">
        {% for exercise in exercises %}
            <div class="col s12 m3">
                <div class="card grey lighten-3 text-shadow center-align">
                    <div class="card-content white-text">
                        <span class="card-title">{{ exercise.exercise_name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('edit_exercise_db', exercise_id=exercise._id) }}" class="btn green accent-4">Edit</a>
                        <a href="#confirm_deletion_modal{{ exercise._id }}" class="btn light-blue lighten-1 modal-trigger">Delete</a>
                        <!-- confirm deletion modal -->
                        <div id="confirm_deletion_modal{{ exercise._id }}" class="modal white-text">
                            <div class="modal-content light-blue center align">
                                <h4>Confirm Deletion</h4>
                                <p>Are you sure you wish to delete?</p>
                            </div>
                            <div class="modal-footer light-blue">
                                <div class="center-align">
                                    <a href="#!"
                                        class="btn-small modal-close red accent-4">Cancel</a>
                                    <a href="{{ url_for('delete_exercise_db', exercise_id=exercise._id) }}"
                                        class="btn-small green accent-4">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}