{% extends "base.html" %}
{% block content %}

    <!-- page heading -->
    <div class="row">
        <div class="col s12 underline">
            <h3 class="grey-text text-darken-3 center-align head-font">Welcome to the Workout Tracker!
            </h3>
        </div>
    </div>

    <!-- link to login page for existing users -->
    <div class="row">
        <div class="col s12">
            <p class="center-align content-font">Already Registered? <a href="{{ url_for('login') }}"
                    class="grey-text text-darken-3">Log In <i class="fas fa-sign-in-alt"></i></a></p>
        </div>
    </div>

    <!-- register link for new users -->
    <div class="row">
        <div class="col s12">
            <p class="center-align content-font">New Here? <a href="{{ url_for('register') }}"
                    class="grey-text text-darken-3">Register Account <i class="fas fa-sign-in-alt"></i></a></p>
        </div>
    </div>

    <!-- main image -->
    <div class="row">
        <div class="col s12">
            <img src="{{ url_for('static', filename='images/img/main-image.png') }}" class="welcome-image"
                alt="person weight training">
        </div>
    </div>

    <!-- copyright message -->
    <h4 class="grey-text text-darken-3 center-align head-font">&copy; Copyright 2021 Workout Tracker</h4>

    

{% endblock %}