{% extends "base.html" %}
{% block content %}

    <ul class="collapsible">
        {% for routine in routines %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow"><i class="fas fa-caret-down"></i>
                <strong>{{ routine.exercise_name }}</strong> : {{ routine.date_performed }}
                {% if routine.completed == "on" %}
                <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped" data-position="right"
                    data-tooltip="Completed"></i>
                {% endif %}
            </div>
            <div class="collapsible-body">
                <strong>{{ routine.weight }}</strong>
                <p>{{ routine.sets_x_reps }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}