{% extends "base.html" %}
{% block content %}

    <h3 class="grey-text text-darken-3 center-align">Add Exercise to Database</h3>

    <!-- add exercise to the db -->
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('update_exercise_db') }}">
            <!-- exercise -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-running prefix grey-text text-darken-3"></i>
                    <input id="exercise_name" name="exercise_name" minlength="1" maxlength="25" type="text"
                        class="validate" required>
                    <label for="exercise_name">Exercise</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Add Exercise <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}